@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
margin: 0;
padding: 0;
box-sizing: 0;
    /* padding-top: -30; */
}
.body{
    color: azure;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenanimation {
    font-size: 7rem;
    font-weight: 900;
}
.contenanimation > span{
    animation: glow 3.5s ease-in-out infinite;
}
.I{
    margin-right: 40px;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #c6d639, 0 0 50px #b4d639, 0 0 100px #d6c639;
    }
    20%, 90%{
        color: #111;
        text-shadow: none;
    }
}
/* primer div*/
.contenanimation:nth-child(1)   > span:nth-child(1){
    animation-delay: .2s ;
}
.contenanimation:nth-child(1)  >span:nth-child(2) {
    animation-delay: .4s;
}
.contenanimation:nth-child(1)  >span:nth-child(3) {
    animation-delay: .6s;
}
.contenanimation:nth-child(1)  >span:nth-child(4) {
    animation-delay: .8s;
}
.contenanimation:nth-child(1)  >span:nth-child(5) {
    animation-delay: 1s;
}
.contenanimation:nth-child(1)  >span:nth-child(6) {
    animation-delay: 1.2s;
}

/* segundo div*/
.contenanimation:nth-child(2)  >span:nth-child(1) {
    animation-delay: 1.4s;
}
.contenanimation:nth-child(2)  >span:nth-child(2) {
    animation-delay: 1.6s;
}
.contenanimation:nth-child(2)  >span:nth-child(3) {
    animation-delay: 1.8s;
}
.contenanimation:nth-child(2)  >span:nth-child(4) {
    animation-delay: 2s;
}

/* tercer div*/
.contenanimation:nth-child(3) >span:nth-child(1) {
    animation-delay: 2.2s;
}
.contenanimation:nth-child(3) >span:nth-child(2) {
    animation-delay: 2.4s;
}
.contenanimation:nth-child(3) >span:nth-child(3) {
    animation-delay: 2.6s;
}
.contenanimation:nth-child(3) >span:nth-child(4) {
    animation-delay: 2.8s;
}
.contenanimation:nth-child(3) >span:nth-child(5) {
    animation-delay: 3s;
}
.contenanimation:nth-child(3) >span:nth-child(6) {
    animation-delay: 3.2s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}
.section-1 {
    display: flex;
    margin: 50px 20px 20px 20px;
    padding: 70px;
}

.section-1  span{
    font-size: 3rem;
    font-weight: 600;
    color: #b6b4a4;
    text-shadow: 0 0 12px #c5e9131f;
}

.section-2{
 background-color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #1b3231;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;
}

.evento {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    position: relative;
}

.evento::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #DCDFD9;
    border: 2px solid #1b3231;
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
}
.containerTexto{
        display: flex;
        flex-direction: column;
        color: #b6b4a4;
        align-items: center;
        justify-content: start;
        width: calc(42% + 20px);
        font-size: 32px;
        font-weight: normal;
}
.titulo {
    color: #111;
}
.texto{

        font-size: 25px;
        font-weight: normal;
    }
.foto {
    width: 40%;
    border: 10px solid #fff;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    right: -50px;
    top: calc(50% - 20px);
}

.foto img {
    width: 100%;
    height: 500px;
    vertical-align: top;
}

.evento:nth-child(even) {
    flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
    justify-content: end;
}

.evento:nth-child(even) .foto::after {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    right: initial;
    left: -50px;
}


.section-3 {
    justify-content: center;
    text-align: center;
    display: flex;

}
.section-3 h3 {
    font-size: 32px;
    font-weight: normal;
}

.botones {
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a {
    background-color: #80880c;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus {
    background-color: rgb(194, 172, 50);
}

.button{
    margin-bottom: 50px;
}




@media screen and (max-width:574px){
        .contenanimation{
            display: flex;
            flex-wrap: wrap;
            font-size: 4rem;
            font-weight: 800;
            text-align: center;
        }
        .section-1 {
            padding: 10px;
            margin: 0;
        }

        .section-2 {
            display: flex;
            justify-content: center;
        }

        .section-1 span {
            padding: 10px;
            font-size: 2rem;
        }
        .description{
            font-size: 2rem;
        }
        
        .button a{
            font-size: 1rem;
        }

        .container::after {
            content: "";
            width: 0px;
            height: 0px;
        }

        .evento::after {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            border-radius: 100px;
            background: #ffffff;
            border: 2px solid #ffffff;
          
        }
        .foto {
            width: 100%;
            border: 0px ;
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .foto img{
           
        }

        .foto::after {
            content: none;
            display: block;
            border: 20px solid transparent;
        
        }
        .container{
            margin: 0px;
        }
        .containerTexto {
            width: 100%;
                            
        }
        .titulo {
            margin-bottom: 2px;
        }
        .evento{
            margin-bottom: 0px;
        }
        .evento:nth-child(1){
          flex-direction: column;
        }
                .evento:nth-child(2) {
                    flex-direction: column;
                }
                                .evento:nth-child(3) {
                                    flex-direction: column;
                                }
                                .evento:nth-child(4) {
                                    flex-direction: column;
                                }
}